.browserlist {
  h1 {
    font-weight: bold;
    color: #7c0303;
  }

  .browsers {
    font-size: 0.8em;
    color: #061C27;

    b {
      color: #062C37;
    }
  }

  .x-item-selected {
    .x-innerhtml {
      background-color: white;
    }
  }
}